* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > div {
    margin-block: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6rem;
}

main{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

main > div {
    flex: 1;    
    display: flex;
}

.grid{
    flex: 1;
    border: 1px solid black;
}